.Cv {
  position: relative;
  min-height: calc(100vh - 175px);
  padding-top: 100px;

  h1 {
    font-size: 4em;
  }
  
  .contact-propos, .formation-experience {
    display: flex;
    justify-content: space-evenly;
    margin: 10%;
  }
  .contact, .propos, .formation, .experience {
    width: 50%;
    text-align: left;
    border-radius: 10px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    color: white;
    /* border: 1px solid black; */
  }
  .skills-hobbies {
    display: flex;
    justify-content: space-between;
    margin: 10%;
  }
  .hard-skills, .soft-skills, .hobbies {
    width: 20%;
    text-align: left;
    border-radius: 10px;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    color: white;
  }
  
  .cv-logos {
    width: 100%;
    flex-direction: column;
  }
  .logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  img {
    width: 10%;
    text-align: center;
    margin: 5px;
  }

  @media (max-width: 480px) {
    .cv-texte {
      width: 90%;
      margin: auto;
    }
    h1 {
      font-size: 1.5em;
      margin-left: 10px;
      margin-right: 10px;
    }
    p {
      width: 100%;
    }
    .cv-texte {
      width: 100%;
      align-items: center;
    }
    .contact-propos, .formation-experience, .skills-hobbies {
      flex-direction: column;
      
   }
   .contact, .propos, .formation, .experience, .hard-skills, .soft-skills, .hobbies {
      width: 90%;
   }
  }
}